 table.center {
    margin-left:auto; 
    margin-right:auto;
 }

.title { 

    position: relative;
    text-align: center;

}


.inline { 
   
    position: relative;
    left: 30px;
     margin-bottom: 15px;
    width: 200px


}

.inlineTXT { 
   
    position: relative;
    margin-bottom: 15px;


}



.wrapper {
    text-align: center;
}


